<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|Hello, ${name} !|"></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <h1 class="hello-title" th:text="|Hello ${name}|">Hello World !</h1>
  <ul th:each="lunch : ${lunch}">
    <li> <a th:href="@{/hello(name=${lunch.name},calories=${lunch.calories})}">name</a></li>
    <li th:text="${lunch.calories}">Calories</li>
  </ul>
</body>
</html>
