<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:fragment="header">
    <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
    </nav>
</header>
    <ul th:each="doctor : ${doctor}">
        <li><a th:href="@{/doctor(name=${doctor.name}, number=${doctor.number})}"><h3 th:text="|Do you want to visit ${doctor.name}|">doctor</h3></a></li>
    </ul>
<footer th:fragment="footer">
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>
